<div class="container">
  <h1>Welcome to DeanMartin!</h1>
  <h2>Here are the anagrams:</h2>
  <ol>
    
    <% @anagrams.each do |a| %>

    <%= erb :_anagram, { :locals => { :anagram => a } } %>
    <% end %>
  </ol>
</div>
